# FASTQ files (too large for Git)
*.fastq.gz
*.fq.gz

# FastQC output
*_fastqc.html
*_fastqc.zip

# reference files
*.fa
*.fasta
*.fa.fai
*.dict

# BWA index files
*.amb
*.ann
*.bwt
*.pac
*.sa

# Large binary files
*.bam
*.bai
*.sam

# Results and logs
*.log
